<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Request for NYK <%= @account.to_string.uppercase %> Account
    </h2>
    <ul>
      <li>
        Name: <%= @name %>
      </li>
      <li>
        Account: <%= @account %>
      </li>
      <li>
        Email: <%= @email %>
      </li>
      <li>
        Company Name: <%= @company_name %>
      </li>
      <li>
        Company Description: <%= @company_description %>
      </li>
      <li>
        Date: <%= @date %>
      </li>
      <li>
        Time Range: <%= @time_range %>
      </li>
      <li>
        Phone Number: <%= @phone_number %>
      </li>
      <li>
        Anything Else We Need to Know?: <%= @notes %>
      </li>
    </ul>
  </body>
</html>
