<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%=@name%> has requested an account at NYK.
    </h2>
    <ul>
      <li>
        Name: <%= @name %>
      </li>
      <li>
        Email: <%= @email %>
      </li>
      <li>
        Company Name: <%= @company_name %>
      </li>
      <li>
        Company Description: <%= @company_description %>
      </li>
    </ul>
  </body>
</html>
