<div class="main-container">
  <%= render ("layouts/filterbar") %>

  <div class="results-header">
    <h1>search for '<%=params[:q]%>'</h1>
  </div>

  <div class="results">

    <% @outlets.each do |outlet| %>
      <div class="outlet-writer-wrapper">
        <%= render partial: 'layouts/outletcard', locals: {outlet: outlet} %>
        <% outlet.jobs.each do |job| %>
          <%= render partial: 'layouts/writercard', locals: {job: job} %>
        <% end %>
      </div>
    <% end %>

    <% @outlet_ids.each do |outlet_id| %>
      <div class="outlet-writer-wrapper">
        <%= render partial: 'layouts/outletcard', locals: {outlet: Outlet.find(outlet_id)} %>
        <% @jobs.each do |job| %>
          <% if job.outlet_id == outlet_id %>
            <%= render partial: 'layouts/writercard', locals: {job: job} %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div style="clear: both;"></div>

</div>
