<div class="form">

<%= form_for(writer) do |f| %>
  <% if writer.errors.any? || @custom_errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(writer.errors.count + @custom_errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
      <% writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% @custom_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:first_name) %>
    <%= f.text_field(:f_name) %>
    <br>
    <%= f.label(:last_name) %>
    <%= f.text_field(:l_name) %>
    <br>
  </div>
  <div class="form-group">
    <%= f.label(:city) %>
    <%= f.text_field(:city) %>
    <br>
    <%= f.label(:state) %>
    <%= f.text_field(:state) %>
    <br>
    <%= f.label(:country_id) %>
    <%= f.collection_select(:country_id, Country.all, :id, :name) %>
    <br>
  </div>
  <div class="form-group">
    <%= f.label(:twitter) %>
    <%= f.text_field(:twitter) %>
    <br>
    <%= f.label(:linkedin) %>
    <%= f.text_field(:linkedin) %>
    <br>
  </div>
  <div class="form-group">
    <%= f.label(:key_contact) %>
    <%= f.check_box(:key_contact) %>
    <br>
    <%= f.label(:freelance) %>
    <%= f.check_box(:freelance) %>
    <br>
  </div>

  <div class="form-group">
    <%= f.fields_for :genre_tags do |gt| %>

      <%= gt.label :genre_id, "Select a genre" %>
      <%= gt.collection_select(:genre_id, Genre.all, :id, :name, :include_blank => true) %>
      <% if gt.object.persisted? %>
        <%= gt.check_box :_destroy %>
        <%= gt.label :_destroy, "Delete Genre" %>
      <% end %>
      <br>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label(:notes) %>
    <%= f.text_area(:notes) %>
    <br>
    <%= f.label(:user_id, "Assigned To") %>
    <%= f.collection_select(:user_id, User.where(admin: true), :id, :email, :include_blank => true) %>
    <br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
