

<%= form_for(writer) do |f| %>
  <% if writer.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(writer.errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
      <% writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:first_name) %>
    <%= f.text_field(:f_name, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:last_name) %>
    <%= f.text_field(:l_name, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:city) %>
    <%= f.text_field(:city, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:state) %>
    <%= f.text_field(:state, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:country_id) %>
    <%= f.collection_select(:country_id, Country.all, :id, :name, {include_blank: true}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label(:twitter) %>
    <%= f.text_field(:twitter, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:linkedin) %>
    <%= f.text_field(:linkedin, class: "form-control") %>
  </div>

  <h4>genres</h4>
  <div class="tag-form">
  <%= f.nested_fields_for :genre_tags do |gt| %>
    <%= gt.remove_nested_fields_link%>
    <div class="form-group">
    <%= gt.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: true}, {class: "form-control"}) %>
    <% if gt.object.persisted? %>
      <%= gt.check_box :_destroy %>
      <%= gt.label :_destroy, "Delete Genre" %>
    <% end %>
    </div>
  <% end %>
  <%= f.add_nested_fields_link :genre_tags, "Add a Genre", class: "add-link"%>
  </div>

  <h4>works for</h4>
  <div class="job-form">
  <hr>
  <%= f.nested_fields_for :jobs do |j| %>
    <%= j.remove_nested_fields_link%>
    <%= j.hidden_field :id, :value => j.object.id %>
    <div class="form-group">
    <%= j.label :outlet_id, "Outlet" %>
    <%= j.collection_select(:outlet_id, Outlet.all, :id, :name, {include_blank: true}, {class: "form-control"}) %>
    </div>
    <div class="form-group">
    <%= j.label(:email_work, "Work Email") %>
    <%= j.text_field(:email_work, class: "form-control") %>
    </div>
    <div class="form-group">
    <%= j.label(:email_personal, "Personal Email") %>
    <%= j.text_field(:email_personal, class: "form-control") %>
    </div>
    <div class="form-group">
    <%= j.label(:position) %>
    <%= j.text_field(:position, class: "form-control") %>
    </div>
    <div class="form-group">
    <%= j.label(:outlet_profile, "Outlet Profile") %>
    <%= j.text_field(:outlet_profile, class: "form-control") %>
    </div>
    <div class="tag-form">
    <%= j.nested_fields_for :presstype_tags do |pt| %>
      <%= pt.remove_nested_fields_link%>
      <div class="form-group">
      <%= pt.label :presstype_id, "Presstype" %>
      <%= pt.collection_select(:presstype_id, Presstype.all, :id, :name, {include_blank: true}, {class: "form-control"}) %>
      <% if pt.object.persisted? %>
        <%= pt.check_box :_destroy %>
        <%= pt.label :_destroy, "Delete Presstype" %>
      <% end %>
      </div>
    <% end %>
    <% if j.object.persisted? %>
      <%= j.add_nested_fields_link :presstype_tags, "Add a Presstype", class: "add-link"%>
    <% end %>
    </div>
    <% if j.object.persisted? %>
      <div class="form-group delete-job-link">
      <%= j.check_box :_destroy %>
      <%= j.label :_destroy, "Delete Job" %>
      </div>
    <% end %>
    <hr>
  <% end %>
  <%= f.add_nested_fields_link :jobs, "Add a Job", class: "add-job-link"%>
  </div>
  <br>

  <div class="form-group">
    <%= f.label(:notes) %>
    <%= f.text_area(:notes, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:user_id, "Assigned To") %>
    <%= f.collection_select(:user_id, User.where(admin: true), :id, :email, {include_blank: true}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label(:key_contact) %>
    <%= f.check_box(:key_contact, class: "form-check-inline") %>
  </div>
  <div class="form-group">
    <%= f.label(:freelance) %>
    <%= f.check_box(:freelance, class: "form-check-inline") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% if f.object.persisted? %>
    <div class="delete-writer-link">
      <%= link_to 'Delete Writer',  writer,  method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  <% end %>
<% end %>
