<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>The following Writer has been flagged:</h2>

    <p>WRITER: ID= <%=@writer.id%> </p>
    <p>NAME=<%=@writer.f_name%> <%=@writer.l_name%></p>
    <p>REASON: <%=@reason%></p>
    <p>COMMENTS: <%=@comment %> </p>
    <p>ASSIGNED TO: <%=@assigned%></p>
  </body>
</html>
