<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>The following Writer has been flagged:</h2>

<<<<<<< HEAD
    <p>WRITER: ID= <%=@writer.id%> </p>
    <p>NAME=<%=@writer.f_name%> <%=@writer.l_name%></p>
    <p>REASON: <%=@reason%></p>
    <p>SUGGESTION FOR US?: <%=@comment %> </p>
=======
    <p>WRITER: ID= <%=@writer.id%> NAME=<%=@writer.f_name%> <%=@writer.l_name%></p>

    <p>REASON: <%=@reason%></p>

>>>>>>> 8044ab3c9323e32136c8fe20a82e4a0bd60d0931
    <p>ASSIGNED TO: <%=@assigned%></p>
  </body>
</html>
