<%= form_for(campaign) do |f| %>

<div class="modal-body">
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label(:name) %>
    <%= f.text_field(:name, class: "form-control") %>
  </div>

</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save", :class => 'btn btn-primary' %>
  </div>

<% end %>
