<div class="sidebar">

  <div class="sidebar-top">
    <div class-"search">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q, "Search") %>
        <!-- <%= submit_tag("Search") %> -->
      <% end %>
    </div>
  </div>
  <div class="filter">
    <%= form_tag("/filter", method: "get") do %>
      <%= check_box_tag(:show_writers) %>
      <%= label_tag(:show_writers, "Show Writers") %>
      <hr>

    <% end %>
  </div>

</div>
