<div class="outlet-card card" data-id="<%=outlet.id%>">
  <div class="outlet-card-top">
    <div class="left-gutter">
      <div class="card-checkbox">
        <input type="checkbox" class="campaign-select-all-toggle"/>
      </div>
    </div>
    <% if current_user.admin %>
    <p class="name"><a href="/outlets/<%=outlet.id%>/edit"><%=outlet.name%></a></p>
    <% else %>
    <p class="name"><%=outlet.name%></p>
    <% end %>
    <p class="description"><%=outlet.description%></p>
  </div>
  <div class="outlet-card-bottom hidden">
    <div class="left-gutter">

    </div>
    <div class="contact-info">
      <div class="row1">
        <div class="heading-col">
          <p class="card-heading">website</p>
        </div>
        <% if outlet.website %>
          <p><a target="_blank" href="http://<%=outlet.website%>"><%=outlet.website%></a></p>
        <% end %>
      </div>
      <div class="row2">
        <div class="heading-col">
          <p class="card-heading">email</p>
        </div>
        <% if outlet.email %>
        <p><a href="mailto:<%=outlet.email%>"><%=outlet.email.downcase%></a></p>
        <% end %>
      </div>
      <div class="row3">
        <div class="heading-col">
          <p class="card-heading">location</p>
        </div>
        <% location_arr = outlet.city, outlet.state, outlet.country.name %>
        <% location_arr.delete(nil) %>
        <% if location_arr.count === 3 %>
          <p><%=outlet.city%>, <%=outlet.state%>, <%=outlet.country.name%></p>
        <% elsif location_arr.count === 2 %>
          <p><%=outlet.city%><%=outlet.state%>, <%=outlet.country.name%></p>
        <% elsif location_arr.count === 1 %>
          <p><%=outlet.country.name%></p>
        <% end %>
      </div>
      <div class="row4">
        <div class="heading-col">
          <p class="card-heading">hypeM</p>
        </div>
        <div class="heading-col">
        <% if outlet.hype_m == true %>
          <p>Yes</p>
        <% else %>
          <p>No</p>
        <% end %>
        </div>
        <div class="heading-col">
          <p class="card-heading">SubmitHub</p>
        </div>
        <div class="heading-col" style="text-align: center;">
          <% if outlet.submithub == true %>
            <p>Yes</p>
          <% else %>
            <p>No</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="social-info">
      <%if outlet.twitter.present? %>
        <div class="twitter-link social-wrapper">
          <div class="social-icon">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="18px" viewBox="0 0 38 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M36.4,1.3 C34.9,2.2 33.3,2.9 31.5,3.2 C30.1,1.7 28.1,0.7 25.9,0.7 C21.7,0.7 18.2,4.2 18.2,8.6 C18.2,9.2 18.3,9.8 18.4,10.4 C12,10.1 6.4,6.9 2.6,2.2 C1.9,3.4 1.6,4.7 1.6,6.2 C1.6,8.9 3,11.3 5,12.8 C3.7,12.8 2.6,12.4 1.5,11.8 L1.5,11.9 C1.5,15.7 4.1,18.9 7.7,19.6 C7.1,19.8 6.4,19.9 5.7,19.9 C5.2,19.9 4.7,19.9 4.3,19.8 C5.3,22.9 8.1,25.2 11.5,25.3 C8.9,27.4 5.6,28.7 2,28.7 C1.4,28.7 0.8,28.7 0.2,28.6 C3.6,30.8 7.6,32.1 12,32.1 C26.1,32.1 33.9,20.1 33.9,9.7 L33.9,8.7 C35.4,7.6 36.7,6.2 37.7,4.6 C36.3,5.2 34.8,5.7 33.3,5.8 C34.6,4.7 35.8,3.2 36.4,1.3 L36.4,1.3 Z" id="Twitter" fill="#555D64"></path>
                </g>
            </svg>
          </div>
          <p class="social-link"><a target="_blank" href="http://twitter.com/<%=outlet.twitter%>"><%=outlet.twitter_followers%><%="twitter" if !outlet.twitter_followers.present?%></a></p>
        </div>
      <% end %>
      <%if outlet.instagram.present? %>
        <div class="instagram-link social-wrapper">
          <div class="social-icon">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="16px" viewBox="0 0 38 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M33.1,0.1 L5.2,0.1 C2.8,0.1 0.8,2 0.8,4.4 L0.8,32.4 C0.8,34.8 2.8,36.7 5.2,36.7 L33.1,36.7 C35.5,36.7 37.5,34.8 37.5,32.4 L37.5,4.4 C37.4,2.1 35.5,0.1 33.1,0.1 L33.1,0.1 Z M27.1,5.9 C27.1,5.3 27.6,4.8 28.2,4.8 L31.6,4.8 C32.2,4.8 32.7,5.3 32.7,5.9 L32.7,9.3 C32.7,9.9 32.2,10.4 31.6,10.4 L28.2,10.4 C27.6,10.4 27.1,9.9 27.1,9.3 L27.1,5.9 L27.1,5.9 Z M19.1,11.5 C23,11.5 26.2,14.6 26.2,18.5 C26.2,22.4 23,25.5 19.1,25.5 C15.2,25.5 12.1,22.4 12.1,18.5 C12.1,14.6 15.2,11.5 19.1,11.5 L19.1,11.5 Z M34,32.2 C34,32.8 33.5,33.3 32.9,33.3 L5.4,33.3 C4.8,33.3 4.3,32.8 4.3,32.2 L4.3,15 L8.9,15 C8.3,15.9 8.1,17.5 8.1,18.5 C8.1,24.6 13.1,29.6 19.3,29.6 C25.5,29.6 30.5,24.6 30.5,18.5 C30.5,17.5 30.4,15.9 29.6,15 L34.2,15 L34.2,32.2 L34,32.2 Z" id="Instagram" fill="#555D64"></path>
                </g>
            </svg>
          </div>
          <p class="social-link"><a target="_blank" href="http://instagram.com/<%=outlet.twitter%>"><%=outlet.instagram_followers%><%="instagram" if !outlet.instagram_followers.present?%></a></p>
        </div>
      <% end %>
      <%if outlet.facebook.present? %>
        <div class="facebook-link social-wrapper">
          <div class="social-icon">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="16px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M36.8,34.6 C36.8,35.7 35.9,36.6 34.8,36.6 L25.4,36.6 L25.4,22.4 L30.2,22.4 L30.9,16.9 L25.4,16.9 L25.4,13.4 C25.4,11.8 25.8,10.7 28.1,10.7 L31,10.7 L31,5.7 C30.5,5.6 28.8,5.5 26.7,5.5 C22.5,5.5 19.6,8.1 19.6,12.8 L19.6,16.9 L14.8,16.9 L14.8,22.4 L19.6,22.4 L19.6,36.6 L2,36.6 C0.9,36.6 0,35.7 0,34.6 L0,2 C0,0.9 0.9,0 2,0 L34.7,0 C35.8,0 36.7,0.9 36.7,2 L36.7,34.6 L36.8,34.6 Z" id="Facebook" fill="#555D64"></path>
                </g>
            </svg>
          </div>
          <p class="social-link"><a target="_blank" href="http://facebook.com/<%=outlet.facebook%>"><%=outlet.facebook_likes%><%="facebook" if !outlet.facebook_likes.present?%></a></p>
        </div>
      <% end %>
      <%if outlet.linkedin.present? %>
        <div class="linkedin-link social-wrapper">
          <div class="social-icon">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="16px" viewBox="0 0 38 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="LinkedIn" fill="#555D64">
                        <rect id="Rectangle-path" x="1.3" y="10.8" width="7.2" height="22.8"></rect>
                        <path d="M28.1,10.6 C24,10.6 21.4,12.8 20.9,14.4 L20.9,10.8 L12.8,10.8 C12.9,12.7 12.8,33.6 12.8,33.6 L20.9,33.6 L20.9,21.3 C20.9,20.6 20.9,19.9 21.1,19.4 C21.7,18 22.8,16.6 25,16.6 C27.8,16.6 29.1,18.7 29.1,21.8 L29.1,33.6 L37.3,33.6 L37.3,20.9 C37.2,13.9 33.2,10.6 28.1,10.6 L28.1,10.6 Z" id="Shape"></path>
                        <path d="M4.7,0.1 C2,0.1 0.3,1.8 0.3,4.1 C0.3,6.3 2,8 4.6,8 L4.7,8 C7.4,8 9.1,6.3 9.1,4 C9,1.8 7.4,0.1 4.7,0.1 L4.7,0.1 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
          </div>
          <p class="social-link"><a target="_blank" href="http://linkedin.com/company/<%=outlet.linkedin%>">linkedin</a></p>
        </div>
      <% end %>

    </div>
    <div class="genres">
      <% genres = [] %>
      <% outlet.jobs.each do |job| %>
        <% job.writer.genres.each do |genre| %>
          <% if genres.include?(genre.name) == false%>
            <% genres.push(genre.name) %>
          <% end %>
        <% end %>
      <% end %>
      <% if genres.count > 8 %>
        <p class="tag">All Genres</p>
      <% elsif genres.count < 9 %>
        <% genres.each do |genre| %>
          <p class="tag"><%=genre%></p>
        <% end %>
      <% end %>

    </div>
    <div class="presstypes">
      <% presstypes = [] %>
      <% outlet.jobs.each do |job| %>
        <% job.presstypes.each do |presstype| %>
          <% if presstypes.include?(presstype.name) == false%>
            <% presstypes.push(presstype.name) %>
          <% end %>
        <% end %>
      <% end %>
      <% if presstypes.count > 8 %>
        <p class="tag">All Press Types</p>
      <% elsif presstypes.count < 9 %>
        <% presstypes.each do |presstype| %>
          <p class="tag"><%=presstype%></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
