<div class="outlet-card card">
  <div class="outlet-card-top">
    <input type="checkbox" class="campaign-select-all-toggle"/>
    <p class="name"><%=outlet.name%></p>
    <p class="description"><%=outlet.description%></p>
  </div>
  <div class="outlet-card-bottom hidden">
    <div class="contact-info">
      <div class="row1">
        <div class="heading-col">
          <p class="card-heading">website</p>
        </div>
        <p><a href="http://www.<%=outlet.website%>"><%=outlet.website%></a></p>
      </div>
      <div class="row2">
        <div class="heading-col">
          <p class="card-heading">email</p>
        </div>
        <p><a href="mailto:<%=outlet.email%>"><%=outlet.email%></a></p>
      </div>
      <div class="row3">
        <div class="heading-col">
          <p class="card-heading">location</p>
        </div>
        <p><%=outlet.city%>, <%=outlet.state%>, <%=outlet.country.name%><p>
      </div>
      <div class="row4">
        <div class="heading-col">
          <p class="card-heading">hypeM</p>
        </div>
        <div class="heading-col">
        <% if outlet.hype_m == true %>
          <p>Yes</p>
        <% else %>
          <p>No</p>
        <% end %>
        </div>
        <div class="heading-col">
          <p class="card-heading">SubmitHub</p>
        </div>
        <div class="heading-col" style="text-align: center;">
          <% if outlet.submithub == true %>
            <p>Yes</p>
          <% else %>
            <p>No</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="social-info">
      <div class="row1">
      </div>
      <div class="row2">
      </div>
      <div class="row3">
      </div>
      <div class="row4">
      </div>
    </div>
    <div class="genres">
      <% outlet.jobs.each do |job| %>
        <% job.writer.genres.each do |genre| %>
          <p class="tag"><%=genre.name%></p>
        <% end %>
      <% end %>

    </div>
    <div class="presstypes">
      <% outlet.jobs.each do |job| %>
        <% job.presstypes.each do |presstype| %>
          <p class="tag"><%=presstype.name%></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
