<div class="writer-card card">
  <div class="writer-card-top hidden">
      <p class="name"><%=job.writer.f_name%> <%=job.writer.l_name%></p>
      <p class="position"><%=job.position%></p>
      <p><a href="mailto:<%=job.email_work%>"><%=job.email_work%></a></p>
      <p><a href="mailto:<%=job.writer.email_personal%>"><%=job.writer.email_personal%></a></p>
  </div>
  <div class="writer-card-bottom hidden">
    <div class="contact-info">
      <div class="row1">
        <div class="heading-col">
          <p class="card-heading">location</p>
        </div>
        <p><%=job.writer.city%>, <%=job.writer.state%>, <%=job.writer.country.name%><p>
      </div>
      <div class="row2">
          <p class="card-heading" style="font-size: 1em;">writes for</p>
      </div>
      <%job.writer.jobs.each do |job|%>
        <%if job.outlet_profile%>
        <p><a href="http://www.<%=job.outlet_profile%>"><%=job.outlet.name%>, </a></p>
        <%else%>
        <p><%=job.outlet.name%>, </p>
        <%end%>
      <% end %>

    </div>
    <div class="social-info">
      <div class="row1">
      </div>
      <div class="row2">
      </div>
    </div>
    <div class="genres">
      <% job.writer.genres.each do |genre| %>
        <p class="tag"><%=genre.name%></p>
      <% end %>
    </div>
    <div class="presstypes">
      <% job.presstypes.each do |presstype| %>
        <p class="tag"><%=presstype.name%></p>
      <% end %>
    </div>
  </div>
</div>
